@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-marhey);
  --font-mono: var(--font-marhey);
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: var(--font-marhey), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}